@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/meetinghouse.jpeg" />
    <h1 class="display-4">Welcome</h1>
    <p>Create a new meeting program with the navigation links above.</p>
</div>
