@{
    ViewData["Title"] = "Home Page";
}

<div class="rounded text-center align-middle py-4" style="background-color:white;">
    <img src="~/images/meetinghouse2.jpeg" class="rounded img-fluid" alt="Picture of a brick meetinghouse" />
    <h1>Welcome</h1>
    <p>Create a new meeting program by following the links.</p>
    <div class="btn-group btn-group-sm">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="People" asp-action="Index">Members</a>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Assignments" asp-action="Index">Assignments</a>
    </div>
</div>
