@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to MegaDesk</h1>
    <p class="lead">Select the button below to see or create quotes!</p>
    <a class="btn btn-primary btn-lg" href="/DeskQuotes/Index" role="button">See All Quotes</a>
</div>

