@model MeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presiding" class="control-label"></label>
                <input asp-for="Presiding" class="form-control" />
                <span asp-validation-for="Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenHymnTitle" class="control-label"></label>
                <input asp-for="OpenHymnTitle" class="form-control" />
                <span asp-validation-for="OpenHymnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenHymnNum" class="control-label"></label>
                <input asp-for="OpenHymnNum" class="form-control" />
                <span asp-validation-for="OpenHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnTitle" class="control-label"></label>
                <input asp-for="SacramentHymnTitle" class="form-control" />
                <span asp-validation-for="SacramentHymnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnNum" class="control-label"></label>
                <input asp-for="SacramentHymnNum" class="form-control" />
                <span asp-validation-for="SacramentHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnTitle" class="control-label"></label>
                <input asp-for="ClosingHymnTitle" class="form-control" />
                <span asp-validation-for="ClosingHymnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnNum" class="control-label"></label>
                <input asp-for="ClosingHymnNum" class="form-control" />
                <span asp-validation-for="ClosingHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
